version: "3"

volumes:
  pgdata:
    driver: local

services:
  postgres:
    image: postgres:11
    restart: always
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - "15432:5432"
    volumes:
      #- ./mount/data:/var/lib/postgresql/data
      - pgdata:/var/lib/postgresql/data

  pgadmin4:
    image: dpage/pgadmin4
    ports:
        - 15433:80
    volumes:
        - ./mount/pgadmin:/var/lib/pgadmin
    environment:
        PGADMIN_DEFAULT_EMAIL: postgres
        PGADMIN_DEFAULT_PASSWORD: postgres
    depends_on:
      - postgres
  