version: "3"

volumes:
  guacamole_pgdata:
    driver: local

services:
  postgres:
    image: postgres:12.2
    restart: unless-stopped
    environment:
      PGDATA: /var/lib/postgresql/data/guacamole
      POSTGRES_DB: guacamole_db
      POSTGRES_PASSWORD: guacamole1234567890
      POSTGRES_USER: guacamole_user
    volumes:
        - guacamole_pgdata:/var/lib/postgresql/data
        - ./mount/pginit:/docker-entrypoint-initdb.d

  guacd:
    image: guacamole/guacd:1.1.0
    restart: unless-stopped

  guacamole:
    image: guacamole/guacamole:1.1.0
    restart: unless-stopped
    ports:
      - "39080:8080"
    expose: 
      - "8080"
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRES_DATABASE: guacamole_db
      POSTGRES_HOSTNAME: postgres
      POSTGRES_PASSWORD: guacamole1234567890
      POSTGRES_USER: guacamole_user
#      HOST_IP: `cat /etc/hosts | awk 'END{print $1}' | sed -r -e 's/[0-9]+$/1/g'`
    depends_on:
      - postgres
      - guacd

  
  # nginx:
  #   image: nginx:1.17.9
  #   restart: unless-stopped
  #   ports:
  #     - "30080:80"
  #   volumes:
  #     - ./mount/nginx/conf.d:/etc/nginx/conf.d